@font-face {
  font-family: "creepster";
  src: url("/static/assets/Creepster-Regular.ttf") format("truetype");
}
@font-face {
  font-family: DellmonteSans;
  src: url("/static/assets/dellmonte-sans.otf") format("opentype");
}
.center {
  text-align: center;
}

html,
body {
  background-color: #F7F2D8;
  font-family: "Quicksand";
  font-size: 16px;
  margin: 0;
}

h2 {
  text-align: center;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding-top: 64px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media only screen and (max-width: 993px) {
  .container {
    padding-top: 0;
  }
}

@media only screen and (max-width: 993px) {
  .container {
    width: 85%;
  }
}
@media only screen and (max-width: 600px) {
  .container {
    width: 90%;
  }
}
h1 {
  letter-spacing: 0.075em;
  font-family: "creepster";
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
  font-size: 4vw;
}

@media only screen and (max-width: 993px) {
  h1 {
    font-size: 10vw;
  }
}
p {
  font-size: 16px;
}

a {
  color: red;
}

.section {
  padding: 35px 0px 5px 0px;
}

nav {
  width: 100%;
  height: 64px;
  position: fixed;
  top: 0;
  z-index: 99;
  background-color: #754632;
  font-family: "Quicksand";
  box-shadow: 0px 0px 8px #000000;
  text-align: center;
}
nav li {
  margin: 0px 0px 0px 15px;
  list-style-type: none;
}
nav ul {
  display: inline-flex;
  margin: auto;
  padding: 0px;
}
nav ul a {
  cursor: pointer;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  color: #F7F2D8;
  padding: 0px 10px;
  height: 64px;
  font-size: 1.5rem;
  line-height: 64px;
  position: relative;
}
nav ul a.selected {
  color: #adbf88;
}

.card {
  background-color: #f7fbed;
  position: relative;
  flex: 0 0 47.5%;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 0 15px 0 #e4e4e4;
  padding: 15px;
  margin: 3vh auto;
}
.card.full-width {
  flex: 0 0 97.5%;
}

#yeti {
  position: absolute;
  width: 15vw;
  right: 5vw;
}

#kraken {
  position: absolute;
  width: 15vw;
  left: 5vw;
}

@media only screen and (max-width: 993px) {
  .hide-on-med-and-down {
    display: none !important;
  }
}
.mobile-nav {
  display: none;
}

@media only screen and (max-width: 993px) {
  .mobile-nav {
    display: flex !important;
    justify-content: space-between;
    background-color: transparent;
    box-shadow: none;
    position: relative;
  }
  .mobile-nav img {
    height: 65%;
    margin: 15px;
  }
}
#mobile-nav-div {
  display: none;
  background-color: #F7F2D8;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
}
#mobile-nav-div ul {
  list-style-type: none;
}
#mobile-nav-div li {
  padding: 10px;
}
#mobile-nav-div a {
  text-decoration: none;
  color: #4f3426;
  font-size: 5vw;
}
#mobile-nav-div img {
  height: calc(0.65 * 64px);
  padding: 15px;
}
#mobile-nav-div.active {
  display: block;
}

#clock {
  text-align: center;
  padding-top: 20px;
}
#clock div {
  margin: 0;
}
#clock p {
  line-height: 100%;
  font-size: 2vw;
  display: inline-block;
  text-align: center;
  margin: 0;
}
#clock p.display {
  width: 4.5vw;
  font-weight: bold;
  font-size: 4vw;
}
#clock p.label {
  width: 4.5vw;
  font-size: 1.3vw;
}
#clock p.divider {
  font-size: 4.5vw;
  width: 1vw;
}
@media only screen and (max-width: 993px) {
  #clock p {
    font-size: 20px;
  }
  #clock p.display {
    width: 40px;
    font-size: 35px;
  }
  #clock p.label {
    width: 40px;
    font-size: 16px;
  }
  #clock p.divider {
    font-size: 40px;
    width: 15px;
  }
}

#links {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-size: 20px;
}
#links a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#links p {
  font-size: 20px;
  margin: 3px 0 0 0;
  color: #4f3426;
}
#links img {
  height: 2vw;
  min-height: 20px;
  vertical-align: middle;
}
@media only screen and (max-width: 600px) {
  #links img {
    width: 60%;
  }
}
#links div {
  width: 25%;
  padding: 10px 0px;
  text-align: center;
  border-right: 1px solid #4f3426;
  box-sizing: border-box;
  justify-content: center;
  display: flex;
}
#links div:last-child {
  border-right: none;
}
@media only screen and (max-width: 993px) {
  #links div {
    width: 50%;
    height: 90px;
  }
  #links div:first-child {
    border-bottom: 1px solid #4f3426;
  }
  #links div:nth-child(2) {
    border-right: none;
    border-bottom: 1px solid #4f3426;
  }
  #links div:nth-child(3) {
    border-bottom: 1px solid #4f3426;
  }
  #links div:nth-child(4) {
    border-right: none;
    border-bottom: 1px solid #4f3426;
  }
  #links div:nth-child(5) {
    border-right: none;
  }
}

a {
  color: #0000ee;
}

#schedule h2 {
  text-align: center;
  margin-bottom: 0;
}
#schedule .table-row-odd {
  color: #4f3426;
  background: #f7fbed;
}
#schedule .table-row-even {
  color: #4f3426;
  background: #f7f0d8;
}
#schedule table {
  text-align: left;
  font-size: 18px;
  width: 100%;
  border-collapse: collapse;
  min-width: 100%;
  max-width: 100%;
  margin-bottom: 50px;
}
#schedule table:last-child {
  margin-bottom: 0;
}
#schedule tbody tr:first-child td:first-child {
  border-top-left-radius: 5px;
}
#schedule tbody tr:first-child td:nth-child(4) {
  border-top-right-radius: 5px;
}
#schedule tbody tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}
#schedule tbody tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
}
#schedule .title {
  width: 100%;
  text-align: center;
}
#schedule .expandable {
  margin: 0;
  font-weight: bold;
  color: #6fb321;
}
#schedule .expandable::before {
  content: "+";
  text-align: center;
  display: inline-block;
  width: 15px;
  vertical-align: 10%;
}
#schedule .expandable:hover {
  cursor: pointer;
  color: #477215;
}
#schedule .expandable.active::before {
  content: "-";
}
#schedule .to_expand h4 {
  margin-bottom: 3px;
}
#schedule .to_expand p {
  margin: 0;
}
#schedule .to_expand ul {
  margin-top: 0;
  list-style-type: none;
  padding-left: 0;
}
#schedule .to_expand a {
  color: #4f3426;
}
#schedule td,
#schedule th {
  vertical-align: top;
  padding: 6px;
}
#schedule td div:not(.active),
#schedule th div:not(.active) {
  max-height: 0px;
  transition: max-height 0.25s cubic-bezier(0, 1, 0, 1);
  overflow: hidden;
  opacity: 0;
  margin-top: 0px;
}
#schedule td div,
#schedule th div {
  font-weight: normal !important;
  margin-top: 5px;
  color: #4f3426 !important;
  opacity: 1;
  max-height: 1000px;
  transition: margin-top 0.15s ease-in-out, max-height 0.5s ease-in-out, opacity 0.2s cubic-bezier(1, 0, 1, 1);
}
@supports (-webkit-touch-callout: none) {
  #schedule td,
#schedule th {
    padding: 3px;
  }
}

#tracks img {
  padding-top: 15px;
  height: 7vw;
  min-height: 70px;
}

#prizes h2,
#resources h2 {
  width: 100%;
  text-align: left;
  margin-bottom: 0;
}
#prizes .container,
#resources .container {
  width: 95%;
  padding-top: 0;
}
#prizes .card,
#resources .card {
  flex: 1 0 30%;
  box-sizing: border-box;
  background-color: #F7F2D8;
  color: #4f3426;
  border: 1px solid #4f3426;
  margin: 1%;
}
#prizes .card.full-width,
#resources .card.full-width {
  flex: 1 0 98%;
}
#prizes .card.half-width,
#resources .card.half-width {
  flex: 1 0 46%;
}
#prizes .card.quarter-width,
#resources .card.quarter-width {
  flex: 1 0 22%;
}
#prizes .card.fifth-width,
#resources .card.fifth-width {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1 0 15%;
}
#prizes .card.fifth-width h2,
#resources .card.fifth-width h2 {
  text-align: center;
}
#prizes .card.fifth-width img,
#resources .card.fifth-width img {
  width: 100%;
}
@media only screen and (max-width: 993px) {
  #prizes .card,
#resources .card {
    flex: 0 0 97.5% !important;
  }
}
#prizes .card h3,
#resources .card h3 {
  margin: 0;
}
#prizes .card p,
#resources .card p {
  margin-bottom: 0;
}

/*# sourceMappingURL=live.css.map */
