@font-face {
  font-family: "creepster";
  src: url("/static/assets/Creepster-Regular.ttf") format("truetype");
}
@font-face {
  font-family: DellmonteSans;
  src: url("/static/assets/dellmonte-sans.otf") format("opentype");
}
.center {
  text-align: center;
}

html,
body {
  font-family: "Quicksand";
  font-size: 16px;
  margin: 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 200px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border-radius: 5px;
  border: 1px solid #888;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
.modal-content h2 {
  text-align: center;
}
.modal-content p {
  padding: 20px;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.close {
  cursor: pointer;
  position: absolute;
  top: -10px;
  right: 10px;
  color: black;
  font-size: 40px;
  font-weight: bold;
}

.container {
  width: 70%;
  margin: 0 auto;
}

@media only screen and (max-width: 993px) {
  .container {
    width: 85%;
  }
}
@media only screen and (max-width: 600px) {
  .container {
    width: 90%;
  }
}
h1 {
  letter-spacing: 0.075em;
  font-family: "creepster";
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
  font-size: 4vw;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 8vw;
  }
}
a {
  color: red;
}

.section {
  font-size: 1.3em;
  padding: 35px 0px 5px 0px;
}

.splash {
  background-color: #F7F2D8;
  position: relative;
}

.banner {
  background-image: url("/static/assets/images/art/front.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 57vw;
  min-height: calc(100vh - 64px);
  margin-left: 3vw;
}

.banner-info {
  width: calc(38vw - 20px);
  position: absolute;
  right: 5px;
  top: 27.5vh;
  color: #4f3426;
}
.banner-info .apply {
  display: none;
}
.banner-info .tagline {
  font-size: 1.5vw;
  text-transform: uppercase;
  margin-bottom: 1vw;
}
.banner-info .date {
  margin-top: 0px;
  font-weight: bold;
  font-size: 2.5vw;
  text-transform: capitalize;
}

@media only screen and (max-width: 993px) {
  .splash {
    min-height: 100vh;
  }

  .banner {
    background-image: url("/static/assets/images/art/front.svg");
    background-position: 50% 100%;
    background-size: contain;
    background-repeat: no-repeat;
    width: 95vw;
    height: 70vh;
    min-height: auto;
    position: relative;
  }

  .banner-info {
    height: fit-content;
    width: 80%;
    margin: auto;
    position: absolute;
    top: 70vh;
    right: auto;
    left: 50%;
    margin-left: -40%;
    color: #4f3426;
    text-align: center;
  }
  .banner-info .apply {
    display: block;
    background-color: #116f9e;
    color: white;
    font-weight: bold;
    width: fit-content;
    padding: 5px 10px;
    margin: 10px auto;
    border-radius: 5px;
    font-size: 3vw;
  }
  .banner-info .tagline {
    font-size: 3vw;
    text-transform: uppercase;
    margin-bottom: 1.5vw;
  }
  .banner-info .date {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 4vw;
    text-transform: capitalize;
  }
}
@media only screen and (max-width: 600px) {
  .splash {
    min-height: 80vh;
  }

  .banner {
    background-image: url("/static/assets/images/art/front.svg");
    background-position: 50% 100%;
    background-size: contain;
    background-repeat: no-repeat;
    width: 95vw;
    height: 50vh;
    min-height: auto;
    position: relative;
  }

  .banner-info {
    height: fit-content;
    width: 80%;
    margin: auto;
    position: absolute;
    top: 50vh;
    right: auto;
    left: 50%;
    margin-left: -40%;
    color: #4f3426;
    text-align: center;
  }
  .banner-info .apply {
    font-size: 4vw;
  }
  .banner-info .tagline {
    font-size: 4vw;
    text-transform: uppercase;
    margin-bottom: 2vw;
  }
  .banner-info .date {
    margin-top: 0px;
    font-weight: bold;
    font-size: 5vw;
    text-transform: capitalize;
  }
}
@media only screen and (max-width: 993px) {
  .hide-on-med-and-down {
    display: none !important;
  }
}
nav {
  width: 100%;
  height: 64px;
  background-color: #754632;
  font-family: "Quicksand";
  box-shadow: 0px 0px 8px #000000;
  top: 0;
  z-index: 100;
  position: -webkit-sticky;
  position: sticky;
  text-align: center;
}
nav li {
  margin: 0px 0px 0px 15px;
  list-style-type: none;
}
nav ul {
  display: inline-flex;
  margin: auto;
  padding: 0px;
}
nav ul a {
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  color: #F7F2D8;
  padding: 0px 10px;
  height: 64px;
  font-size: 1.2rem;
  line-height: 64px;
  position: relative;
}
nav ul a.apply {
  background-color: #116f9e;
  height: 27px;
  border-radius: 5px;
  padding: 0px 5px;
  transition: transform 0.15s;
  font-size: 1.2rem;
  line-height: normal;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
nav ul a.apply:hover {
  -webkit-transform: scale(1.05) translateY(-50%);
  transform: scale(1.05) translateY(-50%);
  transition: transform 0.3s;
  background-color: #116f9e;
  color: #F7F2D8;
  position: relative;
  top: 50%;
}
nav ul a.apply:hover::before {
  visibility: hidden;
}
nav ul a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #F7F2D8;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
nav ul a:hover::before {
  visibility: visible;
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
}

.nav-anchor {
  display: block;
  position: relative;
  top: -64px;
  visibility: hidden;
}

.about {
  background: #F7F2D8;
  color: #4f3426;
}
.about p {
  margin-bottom: 0px;
}

.tracks {
  background: #F7F2D8;
  color: #4f3426;
}
.tracks div {
  text-align: center;
}
.tracks div.wrapper {
  position: relative;
  height: fit-content;
  width: fit-content;
  margin: 0 auto;
}
@media only screen and (max-width: 993px) {
  .tracks div.wrapper {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    margin-top: 7.5vw;
    margin-bottom: 6vw;
  }
}
@media only screen and (max-width: 600px) {
  .tracks div.wrapper {
    transform: scale(1.65);
    -webkit-transform: scale(1.65);
    margin-top: 9vw;
    margin-bottom: 7vw;
  }
}
.tracks div.track {
  position: absolute;
  cursor: pointer;
  transition: all ease-out 0.5s;
  width: fit-content;
}
.tracks div.track:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}
.tracks h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.1vw;
  max-width: 10vw;
  margin: 0 auto;
}
.tracks .background {
  height: 40vw;
  display: block;
  margin: 0 auto;
}
.tracks #nessie {
  left: 10.5%;
  top: 14.5%;
}
.tracks #nessie img {
  height: 4.5vw;
}
.tracks #boatsquatch {
  top: 48%;
  left: 7%;
}
.tracks #boatsquatch img {
  height: 5.5vw;
}
.tracks #krakenlake {
  left: 28.8%;
  top: 28.5%;
}
.tracks #krakenlake img {
  height: 11.1vw;
}
.tracks #krakenlake h2 {
  position: relative;
  top: -3.5vw;
}
.tracks #mothman {
  left: 50%;
  top: 9.5%;
}
.tracks #mothman img {
  height: 7vw;
}
.tracks #yeti {
  left: 76%;
  top: 9.5%;
}
.tracks #yeti img {
  height: 8vw;
}
.tracks #ram {
  left: 75%;
  top: 60%;
}
.tracks #ram img {
  height: 10.5vw;
}

.schedule {
  background: #F7F2D8;
  color: #4f3426;
}
.schedule p {
  margin-bottom: 120px;
}

.sch-img {
  position: absolute;
  left: calc(50%);
  bottom: -250px;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  height: 330px;
}

.table-row-odd {
  color: #4f3426;
  background: #adbf88;
}

.table-row-even {
  color: #F7F2D8;
  background: #477215;
}

h3 {
  font-size: 4vh;
  margin-bottom: 25px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tbody tr:first-child td:first-child {
  border-top-left-radius: 5px;
}

tbody tr:first-child td:nth-child(3) {
  border-top-right-radius: 5px;
}

tbody tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}

tbody tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
}

td,
th {
  padding: 6px;
}

.day-selector {
  cursor: pointer;
  flex: 0 0 50%;
  -webkit-flex: 0 0 50%;
  text-align: center;
  background-color: #adbf88;
  border: 3px solid #477215;
  color: #4f3426;
  line-height: 1.5em;
  font-size: 4vh;
  margin-top: 10px;
  margin-bottom: 25px;
}
.day-selector:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.day-selector:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.day-selector:active {
  background-color: rgba(0, 0, 0, 0.15);
}
.day-selector:focus {
  outline: thin dotted;
}
.day-selector.active {
  transition: background-color 0.15s ease-in-out;
  background-color: #477215;
  color: #F7F2D8;
}

.sch-table {
  display: none;
}
.sch-table.active {
  display: table;
}

.faq-title-img {
  position: relative;
  top: 30px;
  height: 120px;
}
.faq-title-img.mirrored {
  transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
}

.faq-title {
  display: inline;
}

.faq {
  background: #F7F2D8;
  color: #4f3426;
}

.faq-row,
.sch-row {
  display: flex;
}

.faq-col {
  flex: 50%;
  margin-right: 10px;
}

@media only screen and (max-width: 600px) {
  .faq-row {
    display: block;
  }

  .faq-col {
    margin-right: 0px;
  }
}
.question {
  cursor: pointer;
  display: inline-block;
}
.question h5 {
  float: left;
  font-size: 1.3rem;
  margin: 10px 0px;
}
.question img {
  position: relative;
  top: 8px;
  line-height: inherit;
  float: left;
  height: 30px;
  width: 30px;
  transition: transform 0.4s cubic-bezier(0, 1, 0, 1);
}
.question img.selected {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  transition: transform 0.35s ease-in-out;
}

.answer {
  padding-left: 30px;
  transition: max-height 0.4s cubic-bezier(0, 1, 0, 1);
  max-height: 0px;
  overflow: hidden;
  font-size: 1.2rem;
  margin-top: 0px;
}
.answer p {
  margin-top: 5px;
  margin-bottom: 10px;
}
.answer.selected {
  max-height: 500px;
  transition: max-height 0.5s ease-in-out;
}

#faq-footer {
  background-image: url("/static/assets/images/art/borders.svg");
  background-position: center bottom;
  height: 15vw;
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  margin-bottom: -8px;
}

.sponsors {
  background: white;
  color: #4f3426;
}
.sponsors p {
  margin-bottom: 0px;
}

.sponsor-image {
  display: inline-block;
  max-width: 100%;
  transition: transform 0.15s;
}
.sponsor-image:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transition: transform 0.3s;
}

.tier-4 {
  max-width: 80%;
  min-width: 280px;
  max-height: 250px;
}

.tier-3 {
  max-width: 70%;
  min-width: 240px;
  max-height: 180px;
}

.tier-2 {
  max-width: 60%;
  min-width: 240px;
  max-height: 180px;
}

.tier-1 {
  max-width: 40%;
  min-width: 180px;
  max-height: 100px;
}

.sponsor-row {
  margin-bottom: 0;
}

@media only screen and (max-width: 600px) {
  .sponsor-row .col {
    float: none;
  }
}
footer {
  text-align: center;
  height: 10vh;
  background: #E7D8BC;
  color: #4f3426;
}
footer a {
  color: #4f3426;
}
footer u {
  text-decoration: none;
}

/*# sourceMappingURL=main.css.map */
