@import 'components/palette';

$breakpoints: (
    "phone":        400px,
    "phone-wide":   480px,
    "phablet":      560px,
    "tablet-small": 640px,
    "tablet":       768px,
    "tablet-wide":  1024px,
    "desktop":      1248px,
    "desktop-wide": 1440px
);

$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';

@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

body {
    background-color: $dark-bg;
    color: black;
}

.btn, .btn:focus {
    overflow: hidden;
    background-color: $g-light-red;
    color: $f-color;
    text-transform: none;
    font-size: 1.2em;
    font-weight: 200;
    margin: 0.5em auto 1em auto;
}

.btn:hover {
    background-color: $g-light-red;
    color: $f-color;
    font-size: 1.2em;
}

.form-btn {
    color: $f-color !important;
}

.logo {
    height: 200px;
    margin: auto;
    z-index: -1;
}

.live-content {
    padding-top: 20px;
}

.live-content .row .col iframe {
    margin: 1rem 0 1rem 0 !important;
    width: 100% !important;
}

.twitter-timeline {
    width: 100% !important;
    max-height: 600px;
    margin: 0 0 2rem 0 !important;
}

.card {
    margin: 0 0 2rem 0 !important;
    background-color: white;
    border-radius: 5px;
}

.card .card-action:last-child {
    border-radius: 0 0 5px 5px;
}

.background-light {
    background-color: $light-bg;
    color: $dark-bg;
}

.background-dark {
    background-color: $dark-bg;
    color: $light-bg;
}

.title {
    font-size: 72px;
    font-weight: 600;
}

.nitem a span{
    font-family: 'Josefin Sans';
    font-size: 14px;
    position: relative;
    top: 40%;
    transform: translateY(-40%);
}

.ge {
    padding-bottom: 30px;
}

.section {
    #{$a-tags} {
        color: $g-red;
        text-decoration: none;
    }

    #{$a-tags-hover} {
        color: $g-red;
        text-decoration: underline;
    }
}

.section h2 {
    margin-bottom: 0;
}

.card-content p, td {
    font-size: 1rem;
}

.notify-btn {
    width: 50%;

    .btn {
        width: 100%;
    }
}

.hardware .btn {
    font-size: 1rem;
}

.wifi-table {
    border-top: 1px solid #ddd;
    border-collapse: collapse;
    border-spacing: 0;
    
    :last-child {
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    td {
        vertical-align: top;
        border: 1px solid #ddd;
        border-left: 0;
        border-right: 0;
    }

    tr:first-child th {
        border-top: 0;
    }

    tr:last-child td {
        border-bottom: 0;
    }

    tr td:last-child {
        padding-left: 20px;
    }
}

@media only screen and (min-width: 600px) {    
    #floor-plans  {
        height: 100%;
        width: 90%;
        overflow: hidden;
        
        .modal-content {
            height: 100%;
            padding: 8px;

            .carousel {
                height: 100%;
            }
        }
    }

    .carousel-item {
        top: -140px !important;
        width: 35% !important;
        height: 35% !important;
    }   
}

.beam-logo {
    width: 150px;
}
