@import "components/palette";

@font-face {
    font-family: "creepster";
    src: url("/static/assets/Creepster-Regular.ttf") format("truetype");
}

@font-face {
    font-family: DellmonteSans;
    src: url("/static/assets/dellmonte-sans.otf") format("opentype");
}

.center {
    text-align: center;
}

html,
body {
    background-color: $b-cream;
    font-family: "Quicksand";
    font-size: 16px;
    margin: 0;
}

h2 {
    text-align: center;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding-top: 64px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media only screen and (max-width: 993px) {
    .container {
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        width: 90%;
    }
}

h1 {
    letter-spacing: 0.075em;
    font-family: "creepster";
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
    font-size: 4vw;
}

@media only screen and (max-width: 993px) {
    h1 {
        font-size: 10vw;
    }
}

p {
    font-size: 16px;
}

a {
    color: red;
}

.section {
    padding: 35px 0px 5px 0px;
}

nav {
    width: 100%;
    height: 64px;
    position: fixed;
    top: 0;
    z-index: 99;
    background-color: $b-brown2;
    font-family: "Quicksand";
    box-shadow: 0px 0px 8px #000000;
    text-align: center;

    li {
        margin: 0px 0px 0px 15px;
        list-style-type: none;
    }

    ul {
        display: inline-flex;
        margin: auto;
        padding: 0px;

        a {
            cursor: pointer;
            font-weight: bold;
            display: inline-block;
            text-decoration: none;
            color: $nav-text;
            padding: 0px 10px;
            height: 64px;
            font-size: 1.5rem;
            line-height: 64px;
            position: relative;

            &.selected {
                color: $light-green;
            }
        }
    }
}

.card {
    background-color:#f7fbed;
    position: relative;
    flex: 0 0 47.5%;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 0 15px 0 #e4e4e4;
    padding: 15px;
    margin: 3vh auto;

    &.full-width {
        flex: 0 0 97.5%;
    }
}

#yeti {
    position: absolute;
    width: 15vw;
    right: 5vw;
}

#kraken {
    position: absolute;
    width: 15vw;
    left: 5vw;
}

@media only screen and (max-width: 993px) {
    .hide-on-med-and-down {
        display: none !important;
    }
}

#clock {
    text-align: center;
    padding-top: 20px;

    div {
        margin: 0;
    }

    p {
        line-height: 100%;
        font-size: 2vw;
        display: inline-block;
        text-align: center;
        margin: 0;

        &.display {
            width: 4.5vw;
            font-weight: bold;
            font-size: 4vw;
        }

        &.label {
            width: 4.5vw;
            font-size: 1.3vw;
        }

        &.divider {
            font-size: 4.5vw;
            width: 1vw;
        }

        @media only screen and (max-width: 993px) {
            font-size: 20px;
            &.display {
                width: 40px;
                font-size: 35px;
            }

            &.label {
                width: 40px;
                font-size: 16px;
            }

            &.divider {
                font-size: 40px;
                width: 15px;
            }
        }
    }
}

#links {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: 20px;

    a {
        text-decoration: none;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    p {
        font-size: 20px;
        margin: 3px 0 0 0;
        color: $b-brown;
    }

    img {
        height: 2vw;
        min-height: 20px;
        vertical-align: middle;

        @media only screen and (max-width: 600px) {
            width: 60%;
        }
    }

    div {
        width: 20%;
        padding: 10px 0px;
        text-align: center;
        border-right: 1px solid $b-brown;
        box-sizing: border-box;
        justify-content: center;
        display: flex;

        &:last-child {
            border-right: none;
        }

        @media only screen and (max-width: 993px) {
            width: 50%;
            height: 90px;

            &:first-child {
                border-bottom: 1px solid $b-brown;
            }

            &:nth-child(2) {
                border-right: none;
                border-bottom: 1px solid $b-brown;
            }
            &:nth-child(3) {
                border-bottom: 1px solid $b-brown;
            }
            &:nth-child(4) {
                border-right: none;
                border-bottom: 1px solid $b-brown;
            }
            &:nth-child(5) {
                border-right: none;
            }
        }
    }
}
a {
    color: #0000EE;
}

#schedule {
    
    
    h2 {
        text-align: center;
        margin-bottom: 0;
    }

    .table-row-odd {
        color: $schedule-dark-text;
        background: #f7fbed;
    }

    .table-row-even {
        color: $schedule-light-text;
        background:#f7f0d8;
    }

    table {
        text-align: left;
        font-size: 18px;
        width: 100%;
        border-collapse: collapse;
        min-width: 100%;
        max-width: 100%;
        margin-bottom: 50px;
    }

    table:last-child {
        margin-bottom: 0;
    }

    tbody tr:first-child td:first-child {
        border-top-left-radius: 5px;
    }

    tbody tr:first-child td:nth-child(4) {
        border-top-right-radius: 5px;
    }

    tbody tr:last-child td:first-child {
        border-bottom-left-radius: 5px;
    }

    tbody tr:last-child td:last-child {
        border-bottom-right-radius: 5px;
    }

    .title {
        width: 100%;
        text-align: center;
    }

    .expandable {
        margin: 0;
        font-weight: bold;
        color: #6fb321;

        &::before {
            content: "+";
            text-align: center;
            display: inline-block;
            width: 15px;
            vertical-align: 10%;
        }

        &:hover {
            cursor: pointer;
            color:#477215;
        }

        &.active {
            &::before {
                content: "-";
            }
        }
    }

    .to_expand{
        h4 {
            margin-bottom: 3px;
        }

        p{ 
            margin: 0;
        }

        ul {
            margin-top: 0;
            list-style-type: none;
            padding-left: 0;
        }

        a {
            color: $b-brown;
        }
    }

    td,
    th {
        vertical-align: top;
        padding: 6px;

        div:not(.active) {
            max-height: 0px;
            transition: max-height 0.25s cubic-bezier(0, 1, 0, 1);
            overflow: hidden;
            opacity: 0;
            margin-top: 0px;
        }
        div {
            font-weight: normal !important;
            margin-top: 5px;
            color: $b-brown !important;
            opacity: 1;
            max-height: 1000px;
            transition: margin-top 0.15s ease-in-out, max-height 0.5s ease-in-out, opacity 0.2s cubic-bezier(1,0,1,1);
        }

        @supports (-webkit-touch-callout: none) {
            padding: 3px;
        }
    }
}


#tracks {
    img{
        padding-top: 15px;
        height: 7vw;
        min-height: 70px;
    }
}

#prizes {
    h2 {
        width: 100%;
        text-align: left;
        margin-bottom: 0;
    }

    .container {
        width: 95%;
        padding-top: 0;
    }

    .card {
        flex: 1 0 30%;
        box-sizing: border-box;
        background-color: $b-cream;
        color: $b-brown;
        border: 1px solid $b-brown;
        margin: 1%;

        &.full-width {
            flex: 1 0 98%;
        }

        &.half-width {
            flex: 1 0 46%;
        }

        @media only screen and (max-width: 993px) {
            flex: 0 0 97.5% !important;
        }

        h3 {
            margin: 0;
        }

        p {
            margin-bottom: 0;
        }
    }
}