@import "components/palette";

@font-face {
    font-family: "creepster";
    src: url("/static/assets/Creepster-Regular.ttf") format("truetype");
}

@font-face {
    font-family: DellmonteSans;
    src: url("/static/assets/dellmonte-sans.otf") format("opentype");
}

.center {
    text-align: center;
}

html,
body {
    font-family: "Quicksand";
    font-size: 16px;
    margin: 0;
}

.mentor {
    background: $b-cream;
    color: $b-brown;
}

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    z-index: 101;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border-radius: 5px;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;

    h2 {
        text-align: center;
    }

    p {
        padding: 20px;
    }

    &.get-involved {
        div {
            margin: 0 auto;
            justify-content: center;
            display: flex;
            max-width: 60%;

            a {
                text-decoration: none;
                cursor: pointer;
                background: $nav-emphasis;
                color: white;
                text-align: center;
                font-size: 3vw;
                flex: 0 1 50%;
                margin: 2px;
                border-radius: 5px;
                transition-duration: 0.2s;
                padding: 5px;

                @media only screen and (max-width: 600px) {
                    font-size: 6vw;
                }

                &:hover {
                    background-color: #11539e;
                }
            }
        }

        p {
            text-align: center;
        }
    }
}

@media only screen and (max-width: 993px) {
    .modal {
        padding-top: 25px;
        z-index: 1001;
    }

    .modal-content {
        width: 90%;

        h2 {
            margin-top: 30px;
        }
    }
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

.close {
    cursor: pointer;
    position: absolute;
    top: -10px;
    right: 10px;
    color: black;
    font-size: 40px;
    font-weight: bold;
}

.container {
    width: 70%;
    margin: 0 auto;
}

@media only screen and (max-width: 993px) {
    .container {
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        width: 90%;
    }
}

h1 {
    letter-spacing: 0.075em;
    font-family: "creepster";
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
    font-size: 4vw;
}

@media only screen and (max-width: 993px) {
    h1 {
        font-size: 10vw;
    }
}

p {
    font-size: 20px;
}

a {
    color: red;
}

.section {
    padding: 35px 0px 5px 0px;
}

.splash {
    background-color: $banner-background;
    position: relative;
}

.banner {
    background-image: url("/static/assets/images/art/front.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 57vw;
    min-height: calc(100vh - 64px);
    margin-left: 3vw;
}

.banner-info {
    width: calc(38vw - 20px);
    position: absolute;
    right: 5px;
    top: 27.5vh;
    color: $banner-text;

    .apply {
        display: none;
    }

    .tagline {
        font-size: 1.5vw;
        text-transform: uppercase;
        margin-bottom: 1vw;
    }

    .date {
        margin-top: 0px;
        font-weight: bold;
        font-size: 2.5vw;
        text-transform: capitalize;
    }
}

@media only screen and (max-width: 993px) {
    .splash {
        min-height: 100vh;
    }

    .banner {
        background-image: url("/static/assets/images/art/front.svg");
        background-position: 50% 100%;
        background-size: contain;
        background-repeat: no-repeat;
        width: 95vw;
        height: 70vh;
        min-height: auto;
        position: relative;
    }

    .banner-info {
        height: max-content;
        width: 80%;
        margin: auto;
        position: absolute;
        top: 70vh;
        right: auto;
        left: 50%;
        margin-left: -40%;
        color: $banner-text;
        text-align: center;

        .apply {
            text-decoration: none;
            display: block;
            background-color: $nav-emphasis;
            color: white;
            font-weight: bold;
            width: max-content;
            padding: 5px 10px;
            margin: 10px auto;
            border-radius: 5px;
            font-size: 3vw;

            &:last-child {
                margin-bottom: 5vw;
            }
        }

        .tagline {
            font-size: 3vw;
            text-transform: uppercase;
            margin-bottom: 1.5vw;
        }

        .date {
            margin-top: 0px;
            margin-bottom: 0px;
            font-weight: bold;
            font-size: 4vw;
            text-transform: capitalize;
        }
    }
}

@media only screen and (max-width: 600px) {
    .splash {
        min-height: 80vh;
    }

    .banner {
        background-image: url("/static/assets/images/art/front.svg");
        background-position: 50% 100%;
        background-size: contain;
        background-repeat: no-repeat;
        width: 95vw;
        height: 50vh;
        min-height: auto;
        position: relative;
    }

    .banner-info {
        height: max-content;
        width: 80%;
        margin: auto;
        position: absolute;
        top: 50vh;
        right: auto;
        left: 50%;
        margin-left: -40%;
        color: $banner-text;
        text-align: center;

        .apply {
            font-size: 4vw;
        }

        .tagline {
            font-size: 4vw;
            text-transform: uppercase;
            margin-bottom: 2vw;
        }

        .date {
            margin-top: 0px;
            font-weight: bold;
            font-size: 5vw;
            text-transform: capitalize;
        }
    }
}

@media only screen and (max-width: 993px) {
    .hide-on-med-and-down {
        display: none !important;
    }
}

nav {
    width: 100%;
    height: 64px;
    background-color: $nav-background;
    font-family: "Quicksand";
    box-shadow: 0px 0px 8px #000000;
    top: 0;
    z-index: 99;
    position: -webkit-sticky;
    position: sticky;
    text-align: center;

    li {
        margin: 0px 0px 0px 15px;
        list-style-type: none;
    }

    ul {
        display: inline-flex;
        margin: auto;
        padding: 0px;

        a {
            cursor: pointer;
            text-transform: uppercase;
            font-weight: bold;
            display: inline-block;
            text-decoration: none;
            color: $nav-text;
            padding: 0px 10px;
            height: 64px;
            font-size: 1.2rem;
            line-height: 64px;
            position: relative;

            &.apply {
                background-color: $nav-emphasis;
                height: 27px;
                padding: 0px 5px;
                margin: 0px 10px;
                border-radius: 5px;
                position: relative;
                top: 50%;
                font-size: 1.2rem;
                font-weight: bold;
                line-height: normal;
                transition: transform 0.15s;
                transform: translateY(-50%);
                -webkit-transform: translateY(-50%);

                &:hover {
                    -webkit-transform: scale(1.05) translateY(-50%);
                    transform: scale(1.05) translateY(-50%);
                    transition: transform 0.3s;
                    background-color: $nav-emphasis;
                    color: $nav-text;
                    position: relative;
                    top: 50%;

                    &::before {
                        visibility: hidden;
                    }
                }
            }

            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: $nav-text;
                visibility: hidden;
                -webkit-transform: scaleX(0);
                transform: scaleX(0);
                transition: all 0.3s ease-in-out 0s;
            }
            &:hover::before {
                visibility: visible;
                transform: scaleX(1);
                -webkit-transform: scaleX(1);
            }
        }
    }
}

.nav-anchor {
    display: block;
    position: relative;
    top: -64px;
    visibility: hidden;
}

.about {
    background: $about-background;
    color: $about-text;

    p {
        margin-bottom: 0px;
    }

    @media only screen and (max-width: 993px) and (orientation: landscape) {
        padding-top: 12.5vw;
    }
}

.tracks {
    background: $tracks-background;
    color: $tracks-text;

    div {
        text-align: center;

        &.wrapper {
            position: relative;
            height: max-content;
            width: max-content;
            margin: 0 auto;
        }

        &.track {
            position: absolute;
            cursor: pointer;
            transition: all ease-out 0.5s;

            h2 {
                text-transform: uppercase;
                font-weight: bold;
                font-size: 1.1vw;
                max-width: 10vw;
                margin: 0 auto;
            }

            @media only screen and (max-width: 993px) {
                display: block;
                position: relative;
                margin: 5vw auto;
                width: 80vw;

                img {
                    height: 30vw;
                }

                h2 {
                    font-size: 5vw;
                    max-width: inherit;
                }
            }

            @media only screen and (min-width: 993px) {
                &:hover {
                    transform: scale(1.1);
                    -webkit-transform: scale(1.1);
                }
            }

            p {
                max-height: 0px;
                transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
                overflow: hidden;
                display: none;

                @media only screen and (max-width: 993px) {
                    display: block;
                }

                &.visible {
                    margin-bottom: 50px;
                    max-height: 350px;
                    transition: all 0.5s ease-in-out;
                }
            }

            &.focus {
                transform: scale(1.1);
                -webkit-transform: scale(1.1);
            }
        }
    }

    .background {
        height: 40vw;
        display: block;
        margin: 0 auto;
    }

    @media only screen and (min-width: 993px) {
        #nessie {
            left: 10.5%;
            top: 14.5%;

            img {
                height: 4.5vw;
            }
        }

        #boatsquatch {
            top: 48%;
            left: 7%;

            img {
                height: 5.5vw;
            }
        }

        #krakenlake {
            left: 28.8%;
            top: 28.5%;

            img {
                height: 11.1vw;
            }

            h2 {
                position: relative;
                top: -3.5vw;

                @media only screen and (max-width: 993px) {
                    top: 0;
                }
            }
        }

        #mothman {
            left: 50%;
            top: 9.5%;

            img {
                height: 7vw;
            }
        }

        #yeti {
            left: 76%;
            top: 9.5%;

            img {
                height: 8vw;
            }
        }

        #ram {
            left: 75%;
            top: 60%;

            img {
                height: 10.5vw;
            }
        }
    }
}

.schedule {
    background: $schedule-background;
    color: $schedule-text;

    p {
        margin-bottom: 120px;

        @media only screen and (max-width: 600px) {
            margin-bottom: 50px;
        }
    }
}

.sch-img {
    position: absolute;
    left: calc(50%);
    bottom: -250px;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    height: 330px;
}

.table-row-odd {
    color: $schedule-dark-text;
    background: $table-light;
}

.table-row-even {
    color: $schedule-light-text;
    background: $table-dark;
}

h3 {
    font-size: 4vh;
    margin-bottom: 25px;
}

table {
    border-collapse: collapse;
    min-width: 100%;
    max-width: 100%;
    display: none;

    &.active {
        display: table;
    }
}

tbody tr:first-child td:first-child {
    border-top-left-radius: 5px;
}

tbody tr:first-child td:nth-child(3) {
    border-top-right-radius: 5px;
}

tbody tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}

tbody tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}

td,
th {
    padding: 6px;

    @supports (-webkit-touch-callout: none) {
        padding: 3px;
    }
}

.day-selector {
    cursor: pointer;
    flex: 0 1 50%;
    -webkit-flex: 0 0 50%;
    text-align: center;
    background-color: $schedule-button;
    border: 3px solid $schedule-button-active;
    color: $schedule-dark-text;
    line-height: 1.5em;
    font-size: 4vh;
    margin-top: 10px;
    margin-bottom: 25px;

    &:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    &:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    &:active {
        background-color: rgba(black, 0.15);
    }

    &:focus {
        outline: thin dotted;
    }

    &.active {
        transition: background-color 0.15s ease-in-out;
        background-color: $schedule-button-active;
        color: $schedule-light-text;
    }
}

.sch-row {
    display: flex;
    display: -webkit-flex;
}

.faq {
    background: $faq-background;
    color: $faq-text;
}

#faq-container {
    display: flex;
    flex-wrap: wrap;
    margin: -1vw;
    align-items: flex-start;

    div {
        flex: 0 1 50%;
        padding: 0.7vw 1vw;
        box-sizing: border-box;

        @media only screen and (max-width: 993px) {
            flex: 0 1 100%;
        }

        h2 {
            font-size: 2rem;
            text-align: left;
            display: flex;
            margin-bottom: 10px;
            align-items: center;
            margin-top: 15px;

            @media only screen and (max-width: 993px) {
                font-size: 2rem;
            }

            img {
                height: 40px;
                margin-right: 20px;
            }
        }
    }
}

#faq-footer {
    background-image: url("/static/assets/images/art/borders.svg");
    background-position: center bottom;
    height: 15vw;
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    margin-bottom: -8px;
}

.sponsors {
    background: $sponsor-background;
    color: $sponsor-text;

    p {
        margin-bottom: 0px;
    }
}

.sponsor-image {
    transition: transform 0.15s;
    max-height: 100%;
    max-width: 100%;

    &:hover {
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
        transition: transform 0.3s;
    }
}

.tier-4 {
    width: 80%;
    min-width: 350px;
}

.tier-3 {
    width: 40%;
    min-width: 260px;
}

.tier-2 {
    width: 30%;
    min-width: 180px;
}

.tier-1 {
    width: 20%;
    min-width: 125px;
}

.sponsor-row {
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    a {
        margin: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

footer {
    height: 10vh;
    background: $footer-background;
    color: $footer-text;
    font-size: 1.3rem;

    @media only screen and (max-width: 600px) {
        height: 15vh;
    }

    a {
        color: $footer-text;
    }

    u {
        text-decoration: none;
        font-weight: bold;
    }
}
