@import "components/palette";

@font-face {
    font-family: "creepster";
    src: url("/static/assets/Creepster-Regular.ttf") format("truetype");
}

@font-face {
    font-family: DellmonteSans;
    src: url("/static/assets/dellmonte-sans.otf") format("opentype");
}

.center {
    text-align: center;
}

html,
body {
    font-family: "Quicksand";
    font-size: 16px;
    margin: 0;
}

.container {
    width: 70%;
    margin: 0 auto;
}

@media only screen and (max-width: 993px) {
    .container {
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        width: 90%;
    }
}

h1 {
    letter-spacing: 0.075em;
    font-family: "creepster";
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
    font-size: 4vw;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 8vw;
    }
}

a {
    color: red;
}

.section {
    font-size: 1.3em;
    padding: 35px 0px 5px 0px;
}

.splash {
    background-color: $banner-background;
    position: relative;
}

.banner {
    background-image: url("/static/assets/images/art/front.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 57vw;
    min-height: calc(100vh - 64px);
    margin-left: 3vw;
}

.banner-info {
    width: calc(38vw - 20px);
    position: absolute;
    right: 5px;
    top: 27.5vh;
    color: $banner-text;

    .apply {
        display: none;
    }

    .tagline {
        font-size: 1.5vw;
        text-transform: uppercase;
        margin-bottom: 1vw;
    }

    .date {
        margin-top: 0px;
        font-weight: bold;
        font-size: 2.5vw;
        text-transform: capitalize;
    }
}

@media only screen and (max-width: 993px) {
    .splash {
        min-height: 100vh;
    }

    .banner {
        background-image: url("/static/assets/images/art/front.svg");
        background-position: 50% 100%;
        background-size: contain;
        background-repeat: no-repeat;
        width: 95vw;
        height: 70vh;
        min-height: auto;
        position: relative;
    }

    .banner-info {
        height: fit-content;
        width: 80%;
        margin: auto;
        position: absolute;
        top: 70vh;
        right: auto;
        left: 50%;
        margin-left: -40%;
        color: $banner-text;
        text-align: center;

        .apply {
            display: block;
            background-color: $nav-emphasis;
            color: white;
            font-weight: bold;
            width: fit-content;
            padding: 5px 10px;
            margin: 10px auto;
            border-radius: 5px;
            font-size: 3vw;
        }

        .tagline {
            font-size: 3vw;
            text-transform: uppercase;
            margin-bottom: 1.5vw;
        }

        .date {
            margin-top: 0px;
            margin-bottom: 0px;
            font-weight: bold;
            font-size: 4vw;
            text-transform: capitalize;
        }
    }
}

@media only screen and (max-width: 600px) {
    .splash {
        min-height: 80vh;
    }

    .banner {
        background-image: url("/static/assets/images/art/front.svg");
        background-position: 50% 100%;
        background-size: contain;
        background-repeat: no-repeat;
        width: 95vw;
        height: 50vh;
        min-height: auto;
        position: relative;
    }

    .banner-info {
        height: fit-content;
        width: 80%;
        margin: auto;
        position: absolute;
        top: 50vh;
        right: auto;
        left: 50%;
        margin-left: -40%;
        color: $banner-text;
        text-align: center;

        .apply {
            font-size: 4vw;
        }

        .tagline {
            font-size: 4vw;
            text-transform: uppercase;
            margin-bottom: 2vw;
        }

        .date {
            margin-top: 0px;
            font-weight: bold;
            font-size: 5vw;
            text-transform: capitalize;
        }
    }
}

@media only screen and (max-width: 993px) {
    .hide-on-med-and-down {
        display: none !important;
    }
}

nav {
    width: 100%;
    height: 64px;
    background-color: $nav-background;
    font-family: "Quicksand";
    box-shadow: 0px 0px 8px #000000;
    top: 0;
    z-index: 100;
    position: -webkit-sticky;
    position: sticky;
    text-align: center;

    li {
        margin: 0px 0px 0px 15px;
        list-style-type: none;
    }

    ul {
        display: inline-flex;
        margin: auto;
        padding: 0px;

        a {
            text-transform: uppercase;
            font-weight: bold;
            display: inline-block;
            text-decoration: none;
            color: $nav-text;
            padding: 0px 10px;
            height: 64px;
            font-size: 1.2rem;
            line-height: 64px;
            position: relative;

            &.apply {
                background-color: $nav-emphasis;
                height: 27px;
                border-radius: 5px;
                padding: 0px 5px;
                transition: transform 0.15s;
                font-size: 1.2rem;
                line-height: normal;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                -webkit-transform: translateY(-50%);

                &:hover {
                    -webkit-transform: scale(1.05) translateY(-50%);
                    transform: scale(1.05) translateY(-50%);
                    transition: transform 0.3s;
                    background-color: $nav-emphasis;
                    color: $nav-text;
                    position: relative;
                    top: 50%;

                    &::before {
                        visibility: hidden;
                    }
                }
            }

            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: $nav-text;
                visibility: hidden;
                -webkit-transform: scaleX(0);
                transform: scaleX(0);
                transition: all 0.3s ease-in-out 0s;
            }
            &:hover::before {
                visibility: visible;
                transform: scaleX(1);
                -webkit-transform: scaleX(1);
            }
        }
    }
}

.nav-anchor {
    display: block;
    position: relative;
    top: -64px;
    visibility: hidden;
}

.about {
    background: $about-background;
    color: $about-text;

    p {
        margin-bottom: 0px;
    }
}

.tracks {
    background: $tracks-background;
    color: $tracks-text;

    div {
        text-align: center;

        &.wrapper {
            position: relative;
            height: fit-content;
            width: fit-content;
            margin: 0 auto;
        }

        @media only screen and (max-width: 993px) {
            &.wrapper {
                transform: scale(1.5);
                -webkit-transform: scale(1.5);
                margin-top: 7.5vw;
                margin-bottom: 6vw;
            }
        }

        @media only screen and (max-width: 600px) {
            &.wrapper {
                transform: scale(1.65);
                -webkit-transform: scale(1.65);
                margin-top: 9vw;
                margin-bottom: 7vw;
            }
        }

        &.track {
            position: absolute;
            cursor: pointer;
            transition: all ease-out 0.5s;
            width: fit-content;

            &:hover {
                transform: scale(1.1);
                -webkit-transform: scale(1.1);
            }
        }
    }

    h2 {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.1vw;
        max-width: 10vw;
        margin: 0 auto;
    }

    .background {
        height: 40vw;
        display: block;
        margin: 0 auto;
    }

    .nessie {
        left: 10.5%;
        top: 14.5%;

        img {
            height: 4.5vw;
        }
    }

    .boatsquatch {
        top: 48%;
        left: 7%;

        img {
            height: 5.5vw;
        }
    }

    .krakenlake {
        left: 28.8%;
        top: 28.5%;

        img {
            height: 11.1vw;
        }

        h2 {
            position: relative;
            top: -3.5vw;
        }
    }

    .mothman {
        left: 50%;
        top: 9.5%;

        img {
            height: 7vw;
        }
    }

    .yeti {
        left: 76%;
        top: 9.5%;

        img {
            height: 8vw;
        }
    }

    .ram {
        left: 75%;
        top: 60%;

        img {
            height: 10.5vw;
        }
    }
}

.schedule {
    background: $schedule-background;
    color: $schedule-text;

    p {
        margin-bottom: 120px;
    }
}

.sch-img {
    position: absolute;
    left: calc(50%);
    bottom: -250px;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    height: 330px;
}

.table-row-odd {
    color: $schedule-dark-text;
    background: $table-light;
}

.table-row-even {
    color: $schedule-light-text;
    background: $table-dark;
}

h3 {
    font-size: 4vh;
    margin-bottom: 25px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tbody tr:first-child td:first-child {
    border-top-left-radius: 5px;
}

tbody tr:first-child td:nth-child(3) {
    border-top-right-radius: 5px;
}

tbody tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}

tbody tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}

td,
th {
    padding: 6px;
}

.day-selector {
    cursor: pointer;
    flex: 0 0 50%;
    -webkit-flex: 0 0 50%;
    text-align: center;
    background-color: $schedule-button;
    border: 3px solid $schedule-button-active;
    color: $schedule-dark-text;
    line-height: 1.5em;
    font-size: 4vh;
    margin-top: 10px;
    margin-bottom: 25px;

    &:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    &:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    &:active {
        background-color: rgba(black, 0.15);
    }

    &:focus {
        outline: thin dotted;
    }

    &.active {
        transition: background-color 0.15s ease-in-out;
        background-color: $schedule-button-active;
        color: $schedule-light-text;
    }
}

.sch-table {
    display: none;

    &.active {
        display: table;
    }
}

.faq-title-img {
    position: relative;
    top: 30px;
    height: 120px;

    &.mirrored {
        transform: scale(-1, 1);
        -webkit-transform: scale(-1, 1);
    }
}

.faq-title {
    display: inline;
}

.faq {
    background: $faq-background;
    color: $faq-text;
}

.faq-row,
.sch-row {
    display: flex;
}

.faq-col {
    flex: 50%;
    margin-right: 10px;
}

@media only screen and (max-width: 600px) {
    .faq-row {
        display: block;
    }

    .faq-col {
        margin-right: 0px;
    }
}

.question {
    cursor: pointer;
    display: inline-block;

    h5 {
        float: left;
        font-size: 1.3rem;
        margin: 10px 0px;
    }

    img {
        position: relative;
        top: 8px;
        line-height: inherit;
        float: left;
        height: 30px;
        width: 30px;
        transition: transform 0.4s cubic-bezier(0, 1, 0, 1);

        &.selected {
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
            transition: transform 0.35s ease-in-out;
        }
    }
}

.answer {
    padding-left: 30px;
    transition: max-height 0.4s cubic-bezier(0, 1, 0, 1);
    max-height: 0px;
    overflow: hidden;
    font-size: 1.2rem;
    margin-top: 0px;

    p {
        margin-top: 5px;
        margin-bottom: 10px;
    }

    &.selected {
        max-height: 500px;
        transition: max-height 0.5s ease-in-out;
    }
}

#faq-footer {
    background-image: url("/static/assets/images/art/borders.svg");
    background-position: center bottom;
    height: 15vw;
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    margin-bottom: -8px;
}

.sponsors {
    background: $sponsor-background;
    color: $sponsor-text;

    p {
        margin-bottom: 0px;
    }
}

.sponsor-image {
    display: inline-block;
    max-width: 100%;
    transition: transform 0.15s;

    &:hover {
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
        transition: transform 0.3s;
    }
}

.tier-4 {
    max-width: 80%;
    min-width: 280px;
    max-height: 250px;
}

.tier-3 {
    max-width: 70%;
    min-width: 240px;
    max-height: 180px;
}

.tier-2 {
    max-width: 60%;
    min-width: 240px;
    max-height: 180px;
}

.tier-1 {
    max-width: 40%;
    min-width: 180px;
    max-height: 100px;
}

.sponsor-row {
    margin-bottom: 0;
}

@media only screen and (max-width: 600px) {
    .sponsor-row .col {
        float: none;
    }
}

footer {
    text-align: center;
    height: 10vh;
    background: $footer-background;
    color: $footer-text;

    a {
        color: $footer-text;
    }

    u {
        text-decoration: none;
    }
}
