// Graphics color palette: need to fix this
$g-red: #E85D24;
$g-light-red: #FAAA42;
$g-gold: #FEB252;
$g-off-white: #FAF4A8;
$dark-blue: #17334e;
$light-green: #adbf88;
$med-blue: #116f9e;
$brown: #a46c29;

$b-green: #6d7645;
$b-green2: #979f7f;
$b-brown: #4f3426;
$b-red: #994b35;
$b-cream: #F7F2D8;
$b-tan: #E7D8BC;

$f-color: white;

$dark-bg: #17334e;
$light-bg: #a2d1e0;
$sponsor-bg: white;
$border: #a2d1e0;

$table-dark: white;
$table-light: #17334e;
